{% extends 'base.html' %}
{% load static %}



{% block content %}

{#    {{ anime.grade.calculation_grade }}#}

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{% static 'anime/img/' %}{{ anime.slug }}.jpg">
                            <div class="comment"><i class="fa fa-comments"></i> {{ commentaries.count }}</div>
                            <div class="view"><i class="fa fa-eye"></i> {{ anime.view }}</div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ anime.title }}</h3>
                                <span>{% if anime.jp_title and anime.en_title %}{{ anime.jp_title }} / {{ anime.en_title }}{% else %}{{ anime.jp_title }}{{ anime.en_title }}{% endif %}</span>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <span>{{ anime.grade.show_grade }} Votes</span>
                            </div>
                            <p>{{ anime.description|linebreaks }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Studios:</span> {{ anime.studio }}</li>
                                            <li><span>Date aired:</span> Oct 02, 2019 to ?</li>
                                            <li><span>Status:</span> {{ anime.status }}</li>
                                            <li><span>Genre:</span> {% for cat in anime.category.all %}{% if forloop.last %}{{ cat }}{% else %}{{ cat }}, {% endif %}{% endfor %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Rating:</span> {{ anime.grade }}</li>
                                            <li><span>Duration:</span> 24 min/ep</li>
{#                                            <li><span>Views:</span> {{ anime.view }}</li>#}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="anime__video__player">
                <video id="player" playsinline controls data-poster="{% static 'anime/img/' %}{{ anime.slug }}.jpg">
                    <source src="{% static 'anime/videos/1.mp4' %}" type="video/mp4" />
                        <!-- Captions are optional -->
                    <track kind="captions" label="English captions" src="#" srclang="en" default />
                </video>
            </div>
            <div class="anime__details__episodes">
                <div class="section-title">
                    <h5>List Name</h5>
                </div>
                    <a href="#">Ep 01</a>
                    <a href="#">Ep 02</a>
                    <a href="#">Ep 03</a>
                    <a href="#">Ep 04</a>
                    <a href="#">Ep 05</a>
                    <a href="#">Ep 06</a>
                    <a href="#">Ep 07</a>
                    <a href="#">Ep 08</a>
                    <a href="#">Ep 09</a>
                    <a href="#">Ep 10</a>
                    <a href="#">Ep 11</a>
                    <a href="#">Ep 12</a>
                    <a href="#">Ep 13</a>
                    <a href="#">Ep 14</a>
                    <a href="#">Ep 15</a>
                    <a href="#">Ep 16</a>
                    <a href="#">Ep 17</a>
                    <a href="#">Ep 18</a>
                    <a href="#">Ep 19</a>
                </div>
            </div>
        </div>

        <div class="container">
             <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Ваш комментарий</h5>
                        </div>
                        <form id="categoryForm" method="post" onsubmit="updateFormAction(event)">
                            {% csrf_token %}
                            <label>Order by:</label>
                            <select id="categorySelect" name="category_slug" onchange="updateFormAction()">
                                {% for cat in categories %}
                                <option value="{{ cat.slug }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit">Отправить</button>
                        </form>

                        <script>
                            let formSubmitted = false;

                            function updateFormAction(event) {
                                if (formSubmitted) {
                                    event.preventDefault();
                                    return false;
                                }

                                formSubmitted = true;

                                const form = document.getElementById('categoryForm');
                                const select = document.getElementById('categorySelect');
                                const selectedSlug = select.value;
                                form.action = `{% url 'category' category_slug='selectedSlug' %}`.replace('selectedSlug', selectedSlug);

                                form.submit();
                            }
                        </script>
                    </div>

                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Комментарии</h5>
                        </div>
                        {% for comment in commentaries %}
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-1.jpg" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>{{ comment.user }} - <span>{{ comment.data_create }}</span></h6>
                                    <p>{{ comment.commentaries }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>Возможно вам понравиться</h5>
                        </div>
                        {% for item in might_like %}
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'anime/img/' %}{{ item.slug }}.jpg">
                                <div class="ep"> {{ item.grade }}</div>
                                <div class="view"><i class="fa fa-eye"></i> {{ item.view }}</div>
                                <h5><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

{% endblock %}