{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for item in hero.anime.all %}
                    <div class="hero__items set-bg" data-setbg="{% static "anime/img/hero/fate-stay-night-unlimited-blade-works.jpg" %}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    {% for cat in item.category.all %}
                                        <div class="label">{{ cat }}</div>
                                    {% endfor %}
                                    <h2>{{ item.title }}</h2>
                                    <p>{{ item.description|truncatewords:20 }}</p>
                                    <a href="{{ item.get_absolute_url }}"><span>Смотреть сейчас</span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    {% for item in product %}
                        <div class="{{ item.class_name }}">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="section-title">
                                        <h4>{{ item.name }}</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="btn__all">
                                        <a href="#" class="primary-btn">Смотреть больше<span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                {% for item in item.anime.all %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="{% static 'anime/img/' %}{{ item.slug }}.jpg">
                                                <div class="ep"> {{ item.grade }}</div>
                                                <div class="comment"><i class="fa fa-comments"></i> {{ item.anime_commentaries.count }}</div>
                                                <div class="view"><i class="fa fa-eye"></i> {{ item.view }}</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    {% for cat in item.category.all %}
                                                        <li>{{ cat.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                                <h5><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        {% for item in product__sidebar %}
                            <div class="{{ item.class_name }}">
                                <div class="section-title">
                                    <h5>{{ item.name }}</h5>
                                </div>
                                <div class="filter__gallery">
                                    {% for item in item.anime.all %}
                                        <div class="product__sidebar__view__item set-bg"
                                            data-setbg="{% static 'anime/img/sidebar/' %}{{ item.slug }}.jpg">
                                            <div class="ep">{{ item.grade }}</div>
                                            <div class="view"><i class="fa fa-eye"></i>{{ item.view }}</div>
                                            <h5><a href="#">{{ item.title }}</a></h5>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

{% endblock %}
